:root{
    --vermelho:red;
    --preto:black;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container{
    text-align: right;
    display: flex;
    align-items:center;
    justify-content: space-around;

}

header .logo{
    color: var(--vermelho);
    font-family: Arial, 'Helvetica', sans-serif;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 18px;
}
header nav a:hover{
    color: #fff;
}

.Principal{
    font-size: 16px;
    background: url(/img/capa-mini1.jpg);

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.Principal .descricao{
    margin-top: 10px;
    margin-bottom: 90px;
}

.titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.botao{
    background-color: rgba(0,0,0,50);
    border: none;
    color:white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3 ease all;
}
 main .botao a{
    text-decoration: none;
    color: white;
    margin-right: 18px;
}
 
main .botao a:hover{
    color: white;
}


.botao:hover{
    background-color: blue;
    color:black;
}

.botao i{
    margin-right: 10px;
    color: white;
}


.container{
    margin-left: 20px;
}

.Principal .container{
    width: 80%;
}

.box-imagens{
    height: 100%;
    width: 100%;
    display:block ;
}

.carrosel-principal{
    margin-top: 10px;
}
















